@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend+Deca&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: hsla(203, 69%, 55%, 0);
}

::-webkit-scrollbar-thumb {
  background: hsl(203, 69%, 55%);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 6px;
}
